*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

background:#f5f6fa;

}



.dashboard{

display:flex;

}



/* Sidebar */

.sidebar{

width:260px;

height:100vh;

background:#6d28d9;

color:white;

padding:30px;

}



.brand{

display:flex;

align-items:center;

gap:15px;

}



.brand img{

width:50px;

height:50px;

}



.sidebar ul{

list-style:none;

margin-top:40px;

}


.sidebar li{

padding:18px 0;

font-size:18px;

}



/* Main */

.content{

flex:1;

padding:35px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

}



.profile{

display:flex;

align-items:center;

gap:10px;

}



.profile img{

width:40px;

height:40px;

}




.stats{

display:flex;

gap:25px;

margin-top:40px;

}



.box{

background:white;

padding:30px;

width:220px;

border-radius:15px;

box-shadow:0 5px 20px #ddd;

}


.box p{

font-size:35px;

color:#6d28d9;

margin-top:10px;

}



.title{

margin-top:50px;

}



.tasks{

display:flex;

gap:25px;

margin-top:25px;

}



.task{

background:white;

padding:25px;

width:300px;

border-radius:15px;

box-shadow:0 5px 20px #ddd;

}



.done{

color:green;

}



.pending{

color:#d97706;

}
