*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f6fa;
}


.dashboard{
    display:flex;
}


/* Sidebar */

.sidebar{
    width:280px;
    height:100vh;
    background:#6d28d9;
    color:white;
    padding:35px 30px;
}


/* Logo */

.brand{
    display:flex;
    align-items:center;
    gap:15px;
}


.brand img{
    width:120px;
    height:120px;
    object-fit:contain;
}


.brand h2{
    font-size:22px;
}


/* Sidebar Menu */

.sidebar ul{
    list-style:none;
    margin-top:50px;
}


.sidebar li{
    padding:18px 0;
    font-size:18px;
}



/* Main Content */

.content{
    flex:1;
    padding:40px;
}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.profile{
    display:flex;
    align-items:center;
    gap:10px;
}


.profile img{
    width:50px;
    height:50px;
    border-radius:50%;
}



/* Statistics */

.stats{
    display:flex;
    gap:25px;
    margin-top:40px;
}


.box{
    background:white;
    width:230px;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}


.box p{
    font-size:38px;
    color:#6d28d9;
    margin-top:10px;
}



/* Tasks */

.title{
    margin-top:45px;
}


.tasks{
    display:flex;
    gap:25px;
    margin-top:25px;
}


.task{
    background:white;
    width:320px;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}


.task button{

    background:#6d28d9;
    color:white;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    margin-top:15px;

    cursor:pointer;
}


.task button:hover{
    background:#5b21b6;
}



/* Logout Button */

.logout{

    margin-top:50px;

    background:#dc2626;

    color:white;

    border:none;

    padding:12px 30px;

    border-radius:8px;

    cursor:pointer;

}


.logout:hover{

    background:#b91c1c;

}
