body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#080808;

font-family:Arial, sans-serif;

}



.login-box{

background:#151515;

padding:60px;

width:450px;

min-height:520px;

text-align:center;

border-radius:30px;

border:2px solid #7c3aed;

box-shadow:0 0 40px rgba(255,215,0,0.25);

}



.logo{

width:150px;

height:150px;

object-fit:contain;

margin-bottom:20px;

}



h1{

color:#ffd700;

font-size:42px;

margin:15px 0;

}



h2{

color:white;

font-size:28px;

margin-bottom:35px;

}



input{

width:90%;

height:50px;

padding:0 15px;

margin:15px 0;

border-radius:12px;

border:none;

background:#222;

color:white;

font-size:18px;

}



input::placeholder{

color:#999;

}



button{

margin-top:25px;

width:220px;

height:55px;

background:linear-gradient(45deg,#d4af37,#ffd700);

color:black;

border:none;

border-radius:15px;

font-size:20px;

font-weight:bold;

cursor:pointer;

}



button:hover{

transform:scale(1.05);

}



.signup-link{

color:white;

margin-top:35px;

font-size:18px;

}



.signup-link a{

color:#ffd700;

font-weight:bold;

font-size:18px;

text-decoration:none;

}
