body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#080808;

font-family:Arial, sans-serif;

}



.login-box{

background:#151515;

padding:45px;

width:380px;

text-align:center;

border-radius:25px;

border:1px solid #7c3aed;

box-shadow:0 0 30px rgba(124,58,237,0.4);

}



.logo{

width:100px;

height:100px;

object-fit:contain;

margin-bottom:15px;

}



h1{

color:#ffd700;

font-size:32px;

margin:10px 0;

}



h2{

color:white;

margin-bottom:25px;

}



input{

width:90%;

padding:14px;

margin:12px 0;

border-radius:12px;

border:none;

background:#222;

color:white;

font-size:15px;

outline:none;

}



input::placeholder{

color:#aaa;

}



input:focus{

border:1px solid #ffd700;

}



button{

margin-top:20px;

background:linear-gradient(45deg,#d4af37,#ffd700);

color:black;

border:none;

padding:14px 45px;

border-radius:15px;

cursor:pointer;

font-weight:bold;

font-size:16px;

box-shadow:0 0 15px gold;

}



button:hover{

transform:scale(1.05);

}



.signup-link{

color:white;

margin-top:25px;

font-size:14px;

}



.signup-link a{

color:#ffd700;

font-weight:bold;

text-decoration:none;

}



.signup-link a:hover{

text-decoration:underline;

}
