body{

background:#080808;

color:white;

font-family:Arial;

}



.start-container{

padding:20px;

text-align:center;

}



h1{

color:#ffd700;

}



.order-card{

background:#151515;

border-radius:25px;

padding:25px;

margin-top:20px;

border:1px solid #7c3aed;

}



.order-card img{

width:220px;

height:220px;

object-fit:contain;

}



.order-card h2{

color:white;

}



.info{

background:#222;

padding:15px;

border-radius:15px;

margin:20px 0;

}



.info strong{

color:#ffd700;

}



.review{

background:#111;

padding:15px;

border-radius:15px;

}



.stars{

color:#ffd700;

font-size:30px;

}



button{

margin-top:25px;

padding:15px 40px;

border:none;

border-radius:20px;

background:#ffd700;

font-weight:bold;

font-size:16px;

}



#progress{

margin-top:25px;

color:#b56cff;

}
.auto-review {

background: linear-gradient(45deg,#d4af37,#ffd700);

color:black;

border:none;

padding:12px 25px;

border-radius:10px;

font-weight:bold;

cursor:pointer;

margin-top:15px;

box-shadow:0 0 15px gold;

}


.auto-review:hover {

transform:scale(1.05);

}
